{% extends 'admin/master.html' %}
{% load static %}

{% block mainBlock %}
    <div class="block full">
        <div class="block-title">
            <h2><strong>Category</strong> List</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th>Name</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in categoryData %}
                    <tr>
                        <td class="text-center">{{ i.pk }}</td>
                        <td><a href="javascript:void(0)">{{ i.category }}</a></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit"
                                   class="btn btn-xs btn-default"><i class="fa fa-pencil">Edit</i></a>
                                <a href="{% url 'deleteCategory' pk=i.pk %}" data-toggle="tooltip" title="Delete"
                                   class="btn btn-xs btn-danger"><i class="fa fa-times">Delete</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footerBlock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'admin/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>

{% endblock %}